header {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
    height: 15vh;

    nav ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    img {
        width: 15rem;
        height: auto;
        padding-bottom: 1rem;
    }

}